@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
*{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container {
    max-width: 900px;
    width: 100%;
    display: block;
    margin: 50px auto;
}

.box{
    padding: 4em;
    background-color: #f0f0f0;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #e0e0e0;
    margin-bottom: 30px;
}

footer {
    text-align: right;
}